
h1{
    color: brown;
    font: normal bold 2em "Courier New, Georgia, Tahoma";
}

h3 {
    color: blue;
    font: normal bold 2em "Arial, Arial Black, Verdana";
}

body {
    background-color: lightblue;
}