
h1{
    color: brown;
    font: normal bold 2em "Courier New, Georgia, Tahoma";
}

/* p {
    color: white;
    font-size: em;
}     */

h3 {
    color: blue;
    font: normal bold 2em "Arial, Arial Black, Verdana";
}

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif Verdana, Geneva, Tahoma, sans-serif;
}

/* a:link{
    color: red;
    text-decoration-line:none;
}     */

a:visited{
    color:yellowgreen;
    text-decoration-line:none;
}


a:hover{
    color: blue;
    text-decoration-line: underline;
}


li {
    color: yellow;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 10%;
 
}

p.backwards{
    -webkit-transform: rotate(180deg);text-align:left;
    -webkit-transform:scale(1, -1);
    -moz-transform:scale(1, -1);
    -ms-transform:scale(1, -1);
    -o-transform:scale(1, -1);
    transform:scale(1, -1);
}